In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.4

In [7]:
n_baris = 5
n_kolom = 5
header = tuple("ABCDE")

df = pd.DataFrame(np.random.randint(1, 10, size=(n_baris, n_kolom)), columns=header)

df.add_prefix('kolom_')
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        8        1        4        8
1        9        8        1        3        9
2        7        6        5        1        9
3        4        4        1        6        6
4        6        2        8        3        2